</div> <!-- adminWrapper end -->
</div> <!-- wrapper end -->
<script src="/scripts/cssLoader.js" defer></script>
<script src="/scripts/burgermenu.js" defer></script>
<script src="/scripts/indhold.js" defer></script>
	<noscript>
		<link rel="stylesheet" type="text/css" href=/stylesheets/main.css">
	</noscript>
</body>
</html>