<div class="categories">
        <button class="categoryButton">Kategorier</button>
        <ul class="categoryItems">
            <li><a href="/produkter/kategori/cd%20afspillere">CD afspillere</a></li>
            <li><a href="/produkter/kategori/dvd%20afspillere">DVD Afspillere</a></li>
            <li><a href="/produkter/kategori/effektforstærkere">Effektforstærkere</a></li>
            <li><a href="/produkter/kategori/forforstærkere">Forforstærkere</a></li>
            <li><a href="/produkter/kategori/højtalere">Højtalere</a></li>
            <li><a href="/produkter/kategori/int.%20forstærkere">Int. Forstærkere</a></li>
            <li><a href="/produkter/kategori/pladespillere">Pladespillere</a></li>
            <li><a href="/produkter/kategori/rørforstærkere">Rørforstærkere</a></li>
        </ul>
    </div>
    <div class="categories">
        <button class="brandButton">Producent</button>
        <ul class="brandItems">
            <li><a href="/produkter/brand/creek">Creek</a></li>
            <li><a href="/produkter/brand/exposure">Exposure</a></li>
            <li><a href="/produkter/brand/parasound">Parasound</a></li>
            <li><a href="/produkter/brand/manley">Manley</a></li>
            <li><a href="/produkter/brand/pro_ject">Pro_ject</a></li>
            <li><a href="/produkter/brand/boesendorfer">Boesendorfer</a></li>
            <li><a href="/produkter/brand/epos">Epos</a></li>
            <li><a href="/produkter/brand/harbeth">Harbeth</a></li>
            <li><a href="/produkter/brand/jolida">Jolida</a></li>
        </ul>
    </div>