<footer class="siteFooter" role="contentinfo">
	<p class="footerContent">Copyright &copy; <time datetime="2018">2018</time></p>
	<p class="footerContent">Grammafonvej 2,</p>
	<p class="footerContent">1250 Pladeby</p>
</footer>