<nav class="primaryNavigation" role="navigation">
	<img src="/images/burger_menu.png" alt="burger menu" onclick="openNav()">
	<ul id="mySidenav">
		<li class="closebtn"><a href="javascript:void(0)" onclick="closeNav()">&times;</a></li>
		<li><a href="/">Forside</a></li>
		<li><a href="/produkter">Produkter</a></li>
		<li><a href="/kontakt">Kontakt</a></li>
		<li><a href="/login">Login</a></li>
	</ul>
</nav>
