<div class="searchBar" role="search">
	<form action="/soeg" method="GET">
		<input type="text" name="searchword" id="searchword" placeholder="SØG">
		<button type="submit"><img src="/images/search_icon.png" alt=""></button>
	</form>
</div>