<% include ../partials/head.ejs %>
<% include ./partials/admin-header.ejs %>
<% include ./partials/admin-primaryNavigation.ejs %>
<main role="main" class="adminPage">
	<h1><%= title %></h1>
	<p><%= content %></p>
	<a href="#" class="addButton" onclick="openForm()">Tilføj bruger</a>
	<table>
		<thead>
			<tr>
				<th>Redigér</th>
				<th>Slet</th>
				<th>Bruger</th>
			</tr>
		</thead>
		<tbody>
			<% results.forEach(result => { %>
			<tr>
				<td onclick="openUpdateForm()"><i class="fas fa-edit" onclick="openUpdateForm()"></i></td>
				<td><i data-id="<%= result.id %>" data-category="users" class="fas fa-trash-alt"></i></td>
				<td onclick="openUpdateForm()"><%= result.username %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</main>
<div id="addTo" class="addForm">
	<a href="" onclick="closeForm()"><i class="fas fa-times"></i></a>
	<h2>Tilføj Bruger</h2>
	<form action="/admin/users" method="post">
		<label for="userName">Brugernavn</label><input type="text" name="username" id="userName" placeholder="Vælg et Brugernavn">
		<label for="passPhrase">Kode</label><input type="password" name="passphrase" id="passPhrase" placeholder="Vælg et password">
		<button type="submit">Gem Bruger</button>
	</form>
</div>
<div id="updateTo" class="updateForm">
	<a href="" onclick="closeUpdateForm()"><i class="fas fa-times"></i></a>
	<h2>Opdater Bruger</h2>
	<form action="" method="post">
		<label for="username">Brugernavn</label><input type="text" name="username">
		<label for="passphrase">Kode</label><input type="text" name="passphrase">
		<button type="submit">Gem ændringer</button>
	</form>
</div>
<script src="/scripts/deleteButtons.js" defer></script>
<script src="/scripts/updateBox.js" defer></script>
<script src="/scripts/addBox.js" defer></script>
<% include ../partials/after-footer.ejs %>