<nav class="adminPrimaryNavigation" role="navigation">
	<img src="/images/burger_menu.png" alt="burger menu" onclick="openAdminNav()">
	<ul id="myAdminSidenav">
		<li class="closebtn"><a href="javascript:void(0)" onclick="closeAdminNav()">&times;</a></li>
		<li><a href="/admin"><i class="fas fa-home"></i> Forside</a></li>
		<li><a href="/admin/products"><i class="fas fa-box-open"></i> Produkter</a></li>
		<li><a href="/admin/pages"><i class="fas fa-sitemap"></i> Sider</a></li>
		<li><a href="/admin/users"><i class="fas fa-users"></i> Brugere</a></li>
		<hr>
		<li><a href="/admin/categories"><i class="fas fa-list-alt"></i> Kategorier</a></li>
		<li><a href="/admin/brands"><i class="fab fa-product-hunt"></i> Producenter</a></li>
	</ul>
</nav>
