<div id="adminWrapper">
<header class="adminSiteHeader">
	<div class="adminHeaderText"><a class="topText" href="/">HIFI Klubben</a></div>
	<% include ./admin-searchBar.ejs %>
	<div class="adminHeaderLogout"><a href="/logout"><i class="fas fa-sign-out-alt"></i> LOG UD</a></div>
</header>